In [1]:
print("hello world")

hello world

In [2]:
num1 = 5
num2 = 10
total = num1 + num2
print(total)

15

In [3]:
num1 = 5
num2 = 7
print(max(num1,num2))

7

In [4]:
num1 = 5
num2 = 7

if num1 > num2:
    print(num1)
else:
    print(num2)

7

In [5]:
num1  = 5
print (num1**2)

25

In [6]:
principal = 1000  
rate = 5          
time = 2          

simple_interest = (principal * rate * time) / 100
print(simple_interest)

100.0

In [7]:
type(3.14)

float

In [8]:
a = "akshaj"
b = "chainani"

a, b = b, a

print("a =", a)
print("b =", b)

a = chainani
b = akshaj

In [9]:
celsius = 17
fahrenheit = (celsius * 9/5) + 32
print(fahrenheit)

62.6

In [10]:
a = "akshaj"
b = " chainani"

print(a+b)

akshaj chainani

In [14]:
start = 0
end = 25
primes = []

for num in range(start, end + 1):
    if num > 1:  
        for i in range(2, int(num ** 0.5) + 1):
            if num % i == 0:
                break
        else:  
            primes.append(num)

print("prime", primes)

prime [2, 3, 5, 7, 11, 13, 17, 19, 23]

In [4]:
rows = 7

for i in range(1, rows + 1):
    print('*' * i)

*
**
***
****
*****

In [6]:
rows = 5  

for i in range(rows, 0, -1):
    print('*' * i)

*****
****
***
**
*

120